
$info:#002B79;
$secondary: #F8F9FA;
$text-muted: #6E7A8A;
$danger: #F46938;
$dark: #001D51;
$font-size-base:0.875rem;


$font-sizes: (
  1: 2.5rem,  
  2: 1rem,   
  3: 0.75rem,
  4: 1.25rem,
  );

$display-font-sizes: (
  1: 6.25rem,
);
